@tailwind base;
@tailwind components;
@tailwind utilities;

/* home page style */

.banner-title {
  font-family: Unbounded;
  font-size: 65px;
  font-weight: 500;
  line-height: 78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
section {
  margin: 0;
  padding: 0;
}
.shadow-class {
  box-shadow: 0 0 7px 1px #23564a;
}

/* sustainable page website */
.slick-dots li button:before {
  color: #a1a1aa; /* Tailwind Gray-400 */
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #f0af4a; /* Tailwind Indigo-500 */
}

/* navbar styles starting */

.header-sec {
  @apply bg-[#F2F2F2] md:fixed md:w-full md:z-20;
}

.header-container {
  @apply max-w-[1200px] font-ubuntu bg-[#F2F2F2] container mx-auto relative;
}

.header-content {
  @apply mx-auto flex flex-wrap justify-between items-start;
}

.desktop-nav {
  @apply hidden md:flex justify-between items-start lg:text-xl lg:space-x-12 md:space-x-4 text-black;
}
.mobile-menue {
  @apply flex items-center justify-center w-full py-4 space-x-2 md:hidden;
}
.nav-menue-active {
  @apply hover:text-primaryTheme  uppercase hover:border-t-[5px]  border-t-[3px]  border-primaryTheme text-primaryTheme  pt-6 font-bold;
}
.nav-menue {
  @apply hover:text-primaryTheme uppercase  hover:border-primaryTheme pt-6 hover:border-t-[5px];
}

.mob-nav-menue {
  @apply text-start p-5 border-t-[#F2F2F2]  border-t-[3px]    block;
}

.mob-nav-menue-active {
  @apply text-start p-5    border-t-[3px]  border-t-primaryTheme text-primaryTheme block;
}

/* navbar style ending */

/* home page style starting */

.h-banner-prev {
  @apply absolute top-[85%] md:top-[88%] lg:top-[90%] left-[40%] md:left-[45%] lg:left-[48%] transform -translate-x-[50%] z-10 bg-primaryTheme text-white p-2 md:p-3 lg:p-4 hover:bg-black shadow-lg focus:outline-none;
}

.h-banner-next {
  @apply absolute top-[85%] md:top-[88%] lg:top-[90%] left-[60%] md:left-[55%] lg:left-[52%] transform -translate-x-[50%] z-10 bg-primaryTheme text-white p-2 md:p-3 lg:p-4 hover:bg-black shadow-lg focus:outline-none;
}

.apics-primary-button {
  @apply btn bg-secondTheme lg:max-w-full max-w-[250px] h-auto leading-[37px] my-10 text-2xl rounded-none hover:bg-primaryTheme lg:h-[70px] text-white flex justify-center items-center    px-8;
}

/* home section 2 style starting */

/* Section Styling */
.home-2-section {
  @apply bg-white py-12;
}

/* Container */
.home-2-container {
  @apply mx-auto lg:max-w-[1300px] px-4;
}

/* Cards Wrapper */
.home-2-cards-wrapper {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center items-center lg:items-start gap-8;
}

/* Card Styling with Nested Elements */
.home-2-card {
  @apply bg-primaryTheme  mx-auto text-center px-5 pt-5 pb-10 lg:space-y-12 w-72;

  h3 {
    @apply md:text-[100px] text-[40px] leading-[80px] font-ubuntu text-white mb-4;
  }

  p {
    @apply text-white  text-[30px] md:text-[39px] leading-[47px] mb-6;
  }

  button {
    @apply bg-white text-black py-2 px-6 mt-5 text-xl shadow hover:bg-black hover:text-white;
  }
}

/* home section 2 style ending */

/* home section 3 style starting */
.home-3-container {
  @apply bg-white py-12 max-w-7xl mx-auto font-ubuntu;
}

.home-3-cards {
  @apply max-w-7xl mx-auto px-6;
}
.home-3-title {
  @apply text-[50px] py-12;
}
.home-3-card {
  @apply bg-white p-6 flex lg:flex-row flex-col border-b-2;
}

.home-3-card .icon {
  @apply mb-4 lg:w-72 overflow-hidden;
}

.home-3-card .icon img {
  @apply lg:pe-5  w-full;
}

.home-3-card h3 {
  @apply text-lg  text-[#303334] font-[600] text-start  mb-4;
}

.home-3-card p {
  @apply font-semibold text-[#767879] mb-2;
}

.home-3-card-content {
  @apply flex flex-col justify-between;
}
.home-3-card ul {
  @apply list-item text-[#767879];
}

.home-3-card ul li {
  @apply font-[300] mb-2;
}

/* home section 3 style ending */

/* home section 4 style starting */

@layer components {
  .home-4-section {
    @apply relative min-h-[200px] lg:min-h-[400px]  bg-fixed my-[50px]  bg-top bg-center bg-cover;
    background-image: url("images/mt-0024-home-parallax1.jpg");
  }

  .home-4-overlay {
    @apply absolute inset-0  bg-opacity-20 flex items-center;
  }

  .home-4-content {
    @apply flex mx-auto lg:flex-row flex-col lg:justify-between lg:space-x-24 px-6;
  }

  .home-4-heading {
    @apply text-4xl text-black font-ubuntu   lg:text-8xl  md:text-5xl;
  }

  .home-4-icon {
    @apply inline-block mx-auto mt-4 text-yellow-500;
  }
}

/* home section 4 style ending */

/* home section 5 style starting */
@layer components {
  .home-5-container {
    @apply py-12 lg:max-w-[1200px] mx-auto px-6 bg-white;
  }

  .home-5-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6;
  }

  .home-5-card {
    @apply flex  space-y-5 flex-col justify-start items-start text-start;

    h3 {
      @apply text-2xl lg:text-5xl font-ubuntu  text-gray-800 mb-2;
    }

    p {
      @apply font-ubuntu  mb-4;
    }

    iframe {
      @apply w-full h-48 sm:h-56;
    }
  }
}

/* home section 5 style ending */

/* home section 6 style ending */
.h-6-container {
  @apply overflow-hidden my-[50px];
}
.h-6-slider-img-container {
  @apply w-full;
}
.h-6-img {
  @apply w-full object-cover;
}

/* home section 6 style ending */

/* home section 7 style starting */

@layer components {
  .home-7-container {
    @apply max-w-[1200px] font-helvetica leading-[20px] mx-auto py-12 px-6;
  }
  .home-7-img-container {
    @apply w-full flex justify-center overflow-hidden object-cover mb-4;
  }
  .home-7-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }
  .home-7-card-col-layout {
    @apply flex flex-col items-start border-b-[1px]  p-6;
  }

  .home-7-card-row-layout {
    @apply flex  items-start border-b-[1px]  p-6;
  }
  .home-7-card {
    h3 {
      @apply font-semibold text-base text-gray-800 mb-2;
    }

    a.home-7-link {
      @apply text-primaryTheme hover:underline mt-4;
    }

    p {
      @apply text-sm text-gray-600  leading-relaxed;
    }

    ul {
      @apply text-sm text-gray-600;
    }

    li {
      @apply mb-2;
    }
  }
}

/* home section 7 style ending */
/* home section 8 style starting */
@layer components {
  .home-8-container {
    @apply max-w-[1200px] font-helvetica leading-[20px] mx-auto py-12 px-6;
  }
  .home-8-img-container {
    @apply w-full flex justify-center overflow-hidden object-cover mb-4;
  }
  .home-8-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }

  .home-8-card {
    @apply flex lg:flex-row flex-col  items-start border-b-[1px]  p-6;

    h3 {
      @apply font-semibold text-base text-gray-800 mb-2;
    }

    a.home-7-link {
      @apply text-primaryTheme hover:underline mt-4;
    }

    p {
      @apply text-sm text-gray-600  leading-relaxed;
    }

    ul {
      @apply text-sm text-gray-600;
    }

    li {
      @apply mb-2;
    }
  }
}
/* home section 8 style ending */

/* home section 9 style starting */
.home-9-map-container {
  @apply lg:pt-[50px] relative; /* Removed fixed height */
}

.home-9-map-iframe {
  @apply h-[80vh] mt-[50px] block; /* Removed relative to respect margin spacing */
}

/* home section 9 style ending */

/* back to top section style starting */
@layer components {
  .home-9-back-to-top {
    @apply z-50; /* Make sure it's above all other elements */
  }

  .back-to-top-btn {
    @apply bg-primaryTheme h-24 w-16 text-4xl text-white p-3 opacity-60   hover:opacity-100 transition-all;
  }
}
/* back to top section style ending */

/* footer style starting */
footer {
  @apply flex lg:max-w-[1400px] mx-auto lg:h-[100px] h-[70px] space-x-2 text-xs text-gray-500 pt-3 z-20;

  a {
    @apply underline;
  }

  p {
    @apply ps-3;
  }
}
/* footer style ending */

/* home page style ending */

/* about page style starting */

/* about section 1 style starting */

.about-1-container {
  @apply lg:max-w-[1200px] pt-[10%] pb-0 px-4 font-ubuntu mx-auto space-y-10;

  h1 {
    @apply text-4xl lg:text-5xl;
  }

  p {
    @apply text-xl;
  }
}

.about-1-img-container {
  @apply lg:h-[100vh] w-full overflow-hidden;
}
.about-1-img-container {
  @apply w-full flex justify-center overflow-hidden object-cover mb-4;
}
.about-1-card {
  @apply flex lg:flex-row flex-col mx-auto lg:min-w-[400px] md:justify-start justify-center items-center  md:items-start   p-6;

  h3 {
    @apply text-[20px] font-[500] font-ubuntu text-black mb-2;
  }

  a.home-7-link {
    @apply text-primaryTheme hover:underline mt-4;
  }

  p {
    @apply text-sm text-gray-600  leading-relaxed;
  }

  ul {
    @apply text-sm font-helvetica font-[300] text-gray-600;
  }

  li {
    @apply mb-2;
  }
}

/* about section 1 style ending */
/* about section 2 style starting */
.about-section-2-container {
  @apply lg:max-w-[1300px]  mx-auto;

  h2 {
    @apply text-[20px] lg:ps-20 mt-5 px-4 font-[500] font-ubuntu text-black mb-2;
  }
}

/* about section 2 style ending */

/* about section 3 style starting */
.about-3-section {
  @apply relative min-h-[250px] lg:min-h-[400px]  bg-fixed mt-[50px]  bg-center  bg-cover;
  background-image: url("images/about-para.jpg");
}

.about-4-section {
  h3 {
    @apply text-center text-4xl lg:text-5xl my-5 font-ubuntu;
  }
}
/* about section 3 style ending */

/* about page style ending */

/* news page style starting */
/* 
news section 1 style starting */

.news-1-container {
  @apply flex flex-col font-ubuntu px-4 lg:max-w-[1200px] mx-auto items-center space-y-10  pt-[10%];
}
h1 {
  @apply w-full font-bold italic text-3xl lg:text-5xl text-start  font-ubuntu;
}
.news-1-item {
  @apply w-full;

  h2 {
    @apply md:text-[39px] text-[24px] text-center text-gray-800;
  }
  p {
    @apply md:text-[39px]  text-[24px] hover:text-primaryTheme w-full underline text-center text-gray-800 mb-4;
  }

  .news-1-img-container {
    @apply w-full  lg:h-[80vh] overflow-hidden;
  }

  iframe {
    @apply w-full h-full md:h-[90vh];
  }
}
/* 
news section 1 style ending */

/* 
news section 2 style starting */

.news-2-container {
  @apply mt-12 px-6 lg:max-w-[1200px] mx-auto;
}

.news-2-header {
  @apply w-full font-semibold  text-3xl lg:text-5xl text-start  font-ubuntu;
}

.news-2-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6;
}

.news-2-card {
  @apply flex font-ubuntu flex-col items-center  p-6 text-center;
}

.news-2-card p {
  @apply text-[19px] text-start text-gray-800 mb-5;
}

.news-2-card button {
  @apply btn bg-secondTheme lg:max-w-full max-w-[250px] h-auto leading-[37px]  text-2xl rounded-none hover:bg-primaryTheme lg:h-[60px] text-white flex justify-center items-center    px-8;
}

.news-2-icon-container {
  @apply w-full overflow-hidden h-[200px] flex justify-start items-center rounded-b-none rounded-lg mb-4;
}

.news-2-icon {
}
/* 
news section 2 style ending */

/* 
news section 3 style starting */

.news-3-section {
  @apply relative min-h-[300px] lg:min-h-[500px]  bg-fixed mt-[50px]  bg-center  bg-cover;
  background-image: url("images/news-para.jpg");
}

.news-3-content {
  @apply mx-auto px-5  flex-col items-start lg:justify-start;

  p {
    @apply font-ubuntu text-2xl my-5 max-w-[900px]  text-start w-full  flex;
  }
}

/* 
news section 3 style ending */

/* 
news page style ending */
