@tailwind base;
@tailwind components;
@tailwind utilities;

/* home page style */

.banner-title {
  font-family: Unbounded;
  font-size: 65px;
  font-weight: 500;
  line-height: 78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
section {
  margin: 0;
  padding: 0;
}
.shadow-class {
  box-shadow: 0 0 7px 1px #23564a;
}

/* sustainable page website */
.slick-dots li button:before {
  color: gray !important; /* Tailwind Gray-400 */
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  color: #f0af4a !important; /* Tailwind Indigo-500 */
  font-size: 16px;
}

/* navbar styles starting */

.header-sec {
  @apply bg-[#F2F2F2] md:fixed md:w-full md:z-20;
}

.header-container {
  @apply max-w-[1200px] font-ubuntu bg-[#F2F2F2] container mx-auto relative;
}

.header-content {
  @apply mx-auto flex flex-wrap justify-between items-start;
}

.desktop-nav {
  @apply hidden md:flex justify-between items-start lg:text-xl lg:space-x-12 md:space-x-4 text-black;
}
.mobile-menue {
  @apply flex items-center justify-center w-full py-4 space-x-2 md:hidden;
}
.nav-menue-active {
  @apply hover:text-primaryTheme  uppercase hover:border-t-[5px]  border-t-[3px]  border-primaryTheme text-primaryTheme  pt-6 font-bold;
}
.nav-menue {
  @apply hover:text-primaryTheme uppercase  hover:border-primaryTheme pt-6 hover:border-t-[5px];
}

.mob-nav-menue {
  @apply text-start p-5 border-t-[#F2F2F2]  border-t-[3px]    block;
}

.mob-nav-menue-active {
  @apply text-start p-5    border-t-[3px]  border-t-primaryTheme text-primaryTheme block;
}

/* navbar style ending */

/* home page style starting */

.h-banner-prev {
  @apply absolute top-[85%] md:top-[88%] lg:top-[90%] left-[40%] md:left-[45%] lg:left-[48%] transform -translate-x-[50%] z-10 bg-primaryTheme text-white p-2 md:p-3 lg:p-4 hover:bg-black shadow-lg focus:outline-none;
}

.h-banner-next {
  @apply absolute top-[85%] md:top-[88%] lg:top-[90%] left-[60%] md:left-[55%] lg:left-[52%] transform -translate-x-[50%] z-10 bg-primaryTheme text-white p-2 md:p-3 lg:p-4 hover:bg-black shadow-lg focus:outline-none;
}

.apics-primary-button {
  @apply btn bg-secondTheme lg:max-w-full max-w-[250px] h-auto leading-[37px] my-10 text-2xl rounded-none hover:bg-primaryTheme lg:h-[70px] text-white flex justify-center items-center    px-8;
}

/* home section 2 style starting */

/* Section Styling */
.home-2-section {
  @apply bg-white py-12;
}

/* Container */
.home-2-container {
  @apply mx-auto lg:max-w-[1300px] px-4;
}

/* Cards Wrapper */
.home-2-cards-wrapper {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center items-center lg:items-start gap-8;
}

/* Card Styling with Nested Elements */
.home-2-card {
  @apply bg-primaryTheme  mx-auto text-center px-5 pt-5 pb-10 lg:space-y-12 w-72;

  h3 {
    @apply md:text-[100px] text-[40px] leading-[80px] font-ubuntu text-white mb-4;
  }

  p {
    @apply text-white  text-[30px] md:text-[39px] leading-[47px] mb-6;
  }

  button {
    @apply bg-white text-black py-2 px-6 mt-5 text-xl shadow hover:bg-black hover:text-white;
  }
}

/* home section 2 style ending */

/* home section 3 style starting */
.home-3-container {
  @apply bg-white py-12 max-w-7xl mx-auto font-ubuntu;
}

.home-3-cards {
  @apply max-w-7xl mx-auto px-6;
}
.home-3-title {
  @apply text-[50px] py-12;
}
.home-3-card {
  @apply bg-white p-6 flex lg:flex-row flex-col border-b-2;
}

.home-3-card .icon {
  @apply mb-4 lg:w-72 overflow-hidden;
}

.home-3-card .icon img {
  @apply lg:pe-5  w-full;
}

.home-3-card h3 {
  @apply text-lg  text-[#303334] font-[600] text-start  mb-4;
}

.home-3-card p {
  @apply font-semibold text-[#767879] mb-2;
}

.home-3-card-content {
  @apply flex flex-col justify-between;
}
.home-3-card ul {
  @apply list-item text-[#767879];
}

.home-3-card ul li {
  @apply font-[300] mb-2;
}

/* home section 3 style ending */

/* home section 4 style starting */

@layer components {
  .home-4-section {
    @apply relative min-h-[200px] lg:min-h-[400px]  bg-fixed my-[50px]  bg-top bg-center bg-cover;
    background-image: url("images/mt-0024-home-parallax1.jpg");
  }

  .home-4-overlay {
    @apply absolute inset-0  bg-opacity-20 flex items-center;
  }

  .home-4-content {
    @apply flex mx-auto lg:flex-row flex-col lg:justify-between lg:space-x-24 px-6;
  }

  .home-4-heading {
    @apply text-4xl text-black font-ubuntu   lg:text-8xl  md:text-5xl;
  }

  .home-4-icon {
    @apply inline-block mx-auto mt-4 text-yellow-500;
  }
}

/* home section 4 style ending */

/* home section 5 style starting */
@layer components {
  .home-5-container {
    @apply py-12 lg:max-w-[1200px] mx-auto px-6 bg-white;
  }

  .home-5-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6;
  }

  .home-5-card {
    @apply flex  space-y-5 flex-col justify-start items-start text-start;

    h3 {
      @apply text-2xl lg:text-5xl font-ubuntu  text-gray-800 mb-2;
    }

    p {
      @apply font-ubuntu  mb-4;
    }

    iframe {
      @apply w-full h-48 sm:h-56;
    }
  }
}

/* home section 5 style ending */

/* home section 6 style ending */
.h-6-container {
  @apply overflow-hidden my-[50px];
}
.h-6-slider-img-container {
  @apply w-full;
}
.h-6-img {
  @apply w-full object-cover;
}

/* home section 6 style ending */

/* home section 7 style starting */

@layer components {
  .home-7-container {
    @apply max-w-[1200px] font-helvetica leading-[20px] mx-auto py-12 px-6;
  }
  .home-7-img-container {
    @apply w-full flex justify-center overflow-hidden object-cover mb-4;
  }
  .home-7-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }
  .home-7-card-col-layout {
    @apply flex flex-col items-start border-b-[1px]  p-6;
  }

  .home-7-card-row-layout {
    @apply flex  items-start border-b-[1px]  p-6;
  }
  .home-7-card {
    h3 {
      @apply font-semibold text-base text-gray-800 mb-2;
    }

    a.home-7-link {
      @apply text-primaryTheme hover:underline mt-4;
    }

    p {
      @apply text-sm text-gray-600  leading-relaxed;
    }

    ul {
      @apply text-sm text-gray-600;
    }

    li {
      @apply mb-2;
    }
  }
}

/* home section 7 style ending */
/* home section 8 style starting */
@layer components {
  .home-8-container {
    @apply max-w-[1200px] font-helvetica leading-[20px] mx-auto py-12 px-6;
  }
  .home-8-img-container {
    @apply w-full flex justify-center overflow-hidden object-cover mb-4;
  }
  .home-8-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }

  .home-8-card {
    @apply flex lg:flex-row flex-col  items-start border-b-[1px]  p-6;

    h3 {
      @apply font-semibold text-base text-gray-800 mb-2;
    }

    a.home-7-link {
      @apply text-primaryTheme hover:underline mt-4;
    }

    p {
      @apply text-sm text-gray-600  leading-relaxed;
    }

    ul {
      @apply text-sm text-gray-600;
    }

    li {
      @apply mb-2;
    }
  }
}
/* home section 8 style ending */

/* home section 9 style starting */
.home-9-map-container {
  @apply lg:pt-[50px] relative; /* Removed fixed height */
}

.home-9-map-iframe {
  @apply h-[80vh] mt-[50px] block; /* Removed relative to respect margin spacing */
}

/* home section 9 style ending */

/* back to top section style starting */
@layer components {
  .home-9-back-to-top {
    @apply z-50; /* Make sure it's above all other elements */
  }

  .back-to-top-btn {
    @apply bg-primaryTheme h-24 w-16 text-4xl text-white p-3 opacity-60   hover:opacity-100 transition-all;
  }
}
/* back to top section style ending */

/* footer style starting */
footer {
  @apply flex lg:max-w-[1200px] mx-auto lg:h-[100px] h-[70px] space-x-2 text-xs text-gray-500 pt-3 z-20;

  a {
    @apply underline;
  }

  p {
    @apply ps-3;
  }
}
/* footer style ending */

/* home page style ending */

/* about page style starting */

/* about section 1 style starting */

.about-1-container {
  @apply lg:max-w-[1200px] pt-[10%] pb-0 px-4 font-ubuntu mx-auto space-y-10;

  h1 {
    @apply text-4xl lg:text-5xl;
  }

  p {
    @apply text-xl;
  }
}

.about-1-img-container {
  @apply lg:h-[100vh] w-full overflow-hidden;
}
.about-1-img-container {
  @apply w-full flex justify-center overflow-hidden object-cover mb-4;
}
.about-1-card {
  @apply flex lg:flex-row flex-col mx-auto lg:min-w-[400px] md:justify-start justify-center items-center  md:items-start   p-6;

  h3 {
    @apply text-[20px] font-[500] font-ubuntu text-black mb-2;
  }

  a.home-7-link {
    @apply text-primaryTheme hover:underline mt-4;
  }

  p {
    @apply text-sm text-gray-600  leading-relaxed;
  }

  ul {
    @apply text-sm font-helvetica font-[300] text-gray-600;
  }

  li {
    @apply mb-2;
  }
}

/* about section 1 style ending */
/* about section 2 style starting */
.about-section-2-container {
  @apply lg:max-w-[1300px]  mx-auto;

  h2 {
    @apply text-[20px] lg:ps-20 mt-5 px-4 font-[500] font-ubuntu text-black mb-2;
  }
}

/* about section 2 style ending */

/* about section 3 style starting */
.about-3-section {
  @apply relative min-h-[250px] lg:min-h-[400px]  bg-fixed mt-[50px]  bg-center  bg-cover;
  background-image: url("images/about-para.jpg");
}

.about-4-section {
  h3 {
    @apply text-center text-4xl lg:text-5xl my-5 font-ubuntu;
  }
}
/* about section 3 style ending */

/* about page style ending */

/* news page style starting */
/* 
news section 1 style starting */

.news-1-container {
  @apply flex flex-col font-ubuntu px-4 lg:max-w-[1200px] mx-auto items-center space-y-10  pt-[10%];
}
h1 {
  @apply w-full font-bold italic text-3xl lg:text-5xl text-start  font-ubuntu;
}
.news-1-item {
  @apply w-full;

  h2 {
    @apply md:text-[39px] text-[24px] text-center text-gray-800;
  }
  p {
    @apply md:text-[39px]  text-[24px] hover:text-primaryTheme w-full underline text-center text-gray-800 mb-4;
  }

  .news-1-img-container {
    @apply w-full  lg:h-[80vh] overflow-hidden;
  }

  iframe {
    @apply w-full h-full md:h-[90vh];
  }
}
/* 
news section 1 style ending */

/* 
news section 2 style starting */

.news-2-container {
  @apply mt-12 px-6 lg:max-w-[1200px] mx-auto;
}

.news-2-header {
  @apply w-full font-semibold  text-3xl lg:text-5xl text-start  font-ubuntu;
}

.news-2-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6;
}

.news-2-card {
  @apply flex font-ubuntu flex-col items-center  p-6 text-center;
}

.news-2-card p {
  @apply text-[19px] text-start text-gray-800 mb-5;
}

.news-2-card button {
  @apply btn bg-secondTheme lg:max-w-full max-w-[250px] h-auto leading-[37px]  text-2xl rounded-none hover:bg-primaryTheme lg:h-[60px] text-white flex justify-center items-center    px-8;
}

.news-2-icon-container {
  @apply w-full overflow-hidden h-[200px] flex justify-start items-center rounded-b-none rounded-lg mb-4;
}

.news-2-icon {
}
/* 
news section 2 style ending */

/* 
news section 3 style starting */

.news-3-section {
  @apply relative min-h-[300px] lg:min-h-[500px]  bg-fixed mt-[50px]  bg-center  bg-cover;
  background-image: url("images/news-para.jpg");
}

.news-3-content {
  @apply mx-auto px-5  flex-col items-start lg:justify-start;

  p {
    @apply font-ubuntu text-2xl my-5 max-w-[900px]  text-start w-full  flex;
  }
}

/* 
news section 3 style ending */

/* 
news page style ending */

/* gallery  page style starting */

/* gallery section 1 style starting  */
@layer components {
  .gallery-1-section {
    @apply w-full pt-[5%];

    h2 {
      @apply text-4xl lg:text-5xl text-start py-12 font-ubuntu;
    }
  }
  .gallery-1-item {
    @apply flex justify-center items-center lg:h-[25vh] overflow-hidden cursor-pointer relative;

    img {
      @apply h-full w-full object-cover transition hover:opacity-80;
    }
  }
  .gallery-1-prev {
    @apply absolute  md:top-1/2 top-[30%] left-2 transform text-4xl md:text-8xl -translate-y-1/2 text-white hover:bg-transparent   p-2 shadow;
  }
  .gallery-1-next {
    @apply absolute md:top-1/2 top-[30%] right-2 transform text-4xl md:text-8xl -translate-y-1/2 text-white hover:bg-transparent   p-2 shadow;
  }

  .gallery-lightbox {
    @apply hidden fixed inset-0   z-50 flex items-center justify-center;
  }

  .lightbox-img-container {
    @apply lg:max-h-[80vh]  items-center justify-center flex flex-col px-[12]   overflow-hidden;
  }

  .gallery-1-close {
    @apply absolute  lg:top-[5%] top-[8%] right-3  lg:right-[10%] text-gray-600 hover:text-red-600 text-3xl font-bold;
  }
  .gallery-overlay {
    @apply text-center transition-all absolute inset-0 opacity-0 hover:opacity-100 flex items-end justify-center;
  }
  .gallery-img-count {
    @apply lg:text-end text-center px-32 text-white text-sm;
  }
  .gallery-row {
    @apply flex md:flex-row  flex-col gap-8 justify-center;
  }

  .gallery-overlay-text {
    @apply text-white py-5 w-full text-sm  bg-opacity-65  bg-gray-400 font-semibold;
  }

  .gallery-3-sec {
    @apply relative min-h-[250px] lg:min-h-[400px]  bg-fixed mt-[50px]  bg-center  bg-cover;
    background-image: url("images/gallary-par.jpg");
  }

  .gallery-4-section {
    @apply lg:max-w-[1200px] mx-auto px-4;
    h3 {
      @apply text-start text-4xl lg:text-5xl my-5 font-ubuntu;
    }
  }
  .gallery-4-content {
    @apply lg:w-[50%] w-full  flex md:flex-row flex-col items-center justify-center;
  }
}

/* 
geller section 1 style ending */

/* gallery page style ending */

/* blog page style starting */
.blog-container {
  @apply pt-[10%] gap-10 flex md:flex-row flex-col px-4 lg:max-w-[1300px] mx-auto;
}
.post-container {
  @apply md:w-[70%] flex flex-col w-full;
  h2 {
    @apply text-4xl hover:text-primaryTheme lg:text-5xl text-start py-6 font-ubuntu;
  }

  p {
    @apply text-[#767879] text-sm py-5;
  }
}
.post-card {
  @apply border-b-[1px] border-b-black;
}
.recent-post-container {
  @apply md:w-[22%] w-full;
  h2 {
    @apply text-4xl lg:text-5xl text-start py-6 font-ubuntu;
  }
  h3 {
    @apply text-xl hover:text-primaryTheme lg:text-xl text-start py-4 font-ubuntu;
  }
}

.recent-post-card {
  @apply pb-5;
}
.pagination {
  @apply flex items-center justify-start text-sm space-x-2 mt-5;
}

.pagination a {
  @apply flex items-center justify-center w-8 h-8 text-gray-700   hover:text-gray-400;
}

.pagination a.active {
  @apply text-black font-bold;
}
/* blog page style ending */

/* privacy page style starting */

.privacy-container {
  @apply lg:max-w-[1200px] pt-[10%] mx-auto p-6;
}
.privacy-container h3 {
  @apply text-4xl lg:text-4xl py-12 font-ubuntu;
}
.privacy-container h2 {
  @apply text-gray-700  font-helvetica  mb-4;
}
.privacy-container p {
  @apply text-gray-700  font-helvetica mb-4;
}
.privacy-container ul {
  @apply pl-6 mb-4 font-helvetica;
}

/* privacy page style ending */

/* contact page style starting */
.contact-section {
  @apply flex justify-center lg:max-w-[1200px] pt-[10%]  mx-auto items-center py-10 bg-white;

  h5 {
    @apply text-base text-gray-400 pb-5;
  }
}

.contact-container {
  @apply flex   w-full justify-between md:flex-row flex-col p-4  gap-10;
}

.contact-info {
  @apply text-gray-800;
}

.contact-info h2 {
  @apply text-3xl mb-10 lg:text-5xl font-ubuntu;
}

.contact-info p {
  @apply text-2xl text-gray-600 font-medium font-ubuntu;
}

.contact-info address {
  @apply mt-3  text-gray-700;
}

.contact-info h6 {
  @apply mt-2 font-extralight text-gray-600 text-xl;
}

.contact-form {
  @apply flex md:justify-end items-end  space-y-7 pt-10 flex-col gap-4;
}

.contact-form input,
.contact-form textarea {
  @apply w-full border border-gray-300 py-2 px-4 rounded-sm focus:outline-none focus:ring-2 focus:ring-gray-400;
}

.contact-form textarea {
  @apply h-32 resize-none;
}

.contact-form button {
  @apply btn bg-secondTheme lg:max-w-full max-w-[250px] h-auto leading-[37px] my-10 text-2xl rounded-none hover:bg-primaryTheme lg:h-[70px] text-white flex justify-center items-center    px-8;
}

/* contact page style ending */

/* news details style starting  */

/* news details section 1 starting */

.news-details-sec-1 {
  @apply pt-[10%];

  h1 {
    @apply text-4xl lg:text-5xl text-center font-normal py-6 font-ubuntu not-italic;
  }

  h2 {
    @apply text-4xl lg:text-4xl text-[#ec9b1d] text-center py-6 lg:mb-[100px] font-ubuntu;
  }
}

/* news details section 2 ending */

/* news details section 2 starting */
.news-details-2-container {
  @apply flex flex-col items-center w-full;
}
.news-details-2-slider {
  @apply w-full border  h-full  relative;
}
.news-details-2-slide {
  @apply relative;
}
.news-details-2-image {
  @apply w-full h-full object-cover;
}
.news-details-2-caption {
  @apply text-center text-white  font-ubuntu text-2xl bg-gray-700 bg-opacity-50 py-3 min-h-[50px] bottom-0 w-full absolute font-medium mt-2;
}
.news-details-2-navigation {
  @apply flex w-full flex-wrap justify-center gap-2 py-2;
}
.news-details-2-navigation a {
  @apply cursor-pointer font-ubuntu text-xl  text-black px-2 py-1  transition duration-300;
}
.news-details-2-navigation a.news-details-2-active {
  @apply text-primaryTheme;
}
.news-details-2-arrow {
  @apply absolute top-1/2 z-10 transform font-bold hover:text-primaryTheme -translate-y-1/2 bg-opacity-50 text-black text-2xl md:text-6xl px-3 py-2  cursor-pointer;
}
.news-details-2-prev {
  @apply left-2;
}
.news-details-2-next {
  @apply right-2;
}
.news-details-2-slide-img-container {
  @apply lg:h-[100vh] mt-auto overflow-hidden object-cover w-full items-end flex;
}
/* news details section 2 ending */

/* news details section 3 style starting */
.news-details-3-container {
  @apply w-full   mx-auto p-4 bg-white;
}
.news-details-3-item {
  @apply flex flex-col items-center border-t pt-32 pb-6 mb-6;
}
.news-details-3-content {
  @apply flex  w-full justify-between lg:flex-row flex-col lg:ps-24 lg:pe-52;
}
.news-details-3-title {
  @apply text-[#00a8ff] text-2xl  font-ubuntu  mb-2 cursor-pointer hover:underline;
}
.news-details-3-date {
  @apply text-gray-700  font-ubuntu text-2xl;
}
.news-details-3-badge {
  @apply flex flex-col  items-center justify-center w-24 h-24 bg-[#D3D8DB] rounded-full text-4xl;
}
.news-details-3-button {
  @apply btn bg-secondTheme lg:max-w-full w-full h-auto leading-[37px] mt-10 text-2xl rounded-none hover:bg-primaryTheme lg:h-[70px] text-white flex justify-center items-center    px-8;
}
.news-details-3-location {
  @apply text-gray-800  font-ubuntu text-2xl mt-4;
}

/* news details section 3 style ending */
/* news details section 4 style starting */
.news-details-4-container {
  @apply w-full lg:max-w-[1200px] mx-auto p-6  bg-white text-center;
}
.news-details-4-container h2 {
  @apply text-2xl md:text-4xl font-bold text-[#767879] mb-6;
}
.news-details-4-container ul {
  @apply text-[22px] italic leading-[32px] font-bold text-[#ec9b1d];
}
.news-details-4-container ul li {
  @apply font-bold;
}
.news-details-4-container p {
  @apply text-gray-700 mb-4 text-start leading-relaxed;
}
.news-details-4-container p span {
  @apply font-bold text-[#ec9b1d];
}

.news-details-4-container a {
  @apply rounded-none max-w-[300px];
}
.news-details-4-btn-container {
  @apply w-full flex lg:justify-center;
}
/* news details section 4 style ending */
/* 



/* news details section 5 style starting */
.news-details-5-slider-container {
  @apply lg:max-w-[1200px] pt-12 mx-auto p-6;

  h2 {
    @apply text-2xl  font-ubuntu text-center mb-10;
  }

  img {
    @apply scale-75;
  }
}

/* news details section 5 style ending */

/* news details section 6 style starting */

@layer components {
  .news-gallery-1-section {
    @apply w-full;
  }

  .news-gallery-heading {
    @apply text-2xl  font-ubuntu text-center mb-10;
  }
  .news-gallery-1-item {
    @apply flex justify-center items-center overflow-hidden cursor-pointer relative;

    img {
      @apply h-full w-full object-cover transition hover:opacity-80;
    }
  }
  .news-gallery-1-prev {
    @apply absolute  md:top-1/2 top-[30%] left-2 transform text-4xl md:text-8xl -translate-y-1/2 text-gray-500 hover:bg-transparent hover:text-white   p-2 shadow;
  }
  .news-gallery-1-next {
    @apply absolute md:top-1/2 top-[30%] hover:text-white right-2 transform text-4xl md:text-8xl -translate-y-1/2 text-gray-500 hover:bg-transparent   p-2 shadow;
  }

  .news-gallery-lightbox {
    @apply hidden fixed inset-0   z-50 flex items-center justify-center;
  }

  .news-lightbox-img-container {
    @apply h-auto w-auto items-center justify-center flex flex-col px-[12]   overflow-hidden;
  }

  .news-gallery-1-close {
    @apply font-bold;
  }
  .news-gallery-overlay {
    @apply text-center transition-all absolute inset-0 opacity-0 hover:opacity-100 flex items-end justify-center;
  }
  .news-gallery-img-count {
    @apply lg:text-end text-center  text-white text-sm;
  }
  .news-gallery-row {
    @apply flex md:flex-row  flex-col gap-5 justify-center;
  }

  .news-gallery-overlay-text {
    @apply text-white py-5 px-5 w-full text-sm  bg-opacity-65  bg-gray-400 text-start;
  }

  .news-gallery-3-sec {
    @apply relative min-h-[250px] lg:min-h-[400px]  bg-fixed mt-[50px]  bg-center  bg-cover;
    background-image: url("images/gallary-par.jpg");
  }

  .news-gallery-4-section {
    @apply lg:max-w-[1200px] mx-auto px-4;
    h3 {
      @apply text-start text-4xl lg:text-5xl my-5 font-ubuntu;
    }
  }
  .news-gallery-4-content {
    @apply lg:w-[50%] w-full  flex md:flex-row flex-col items-center justify-center;
  }
}

/* news details section 6 style ending */

/* news details section 7 style starting */
.news-details-7-slider-container {
  @apply lg:max-w-[1200px] pt-12 mx-auto p-6;

  h2 {
    @apply text-2xl  font-ubuntu text-center mb-10;
  }

  img {
    @apply w-full lg:scale-150;
  }
}
.news-details-8-slider-container {
  @apply lg:max-w-[1200px] pt-12 mx-auto p-6;

  h2 {
    @apply text-2xl  font-ubuntu text-center mb-10;
  }

  img {
    @apply w-full;
  }
}

.news-details-9-slider-container {
  @apply lg:max-w-[1200px] pt-12 mx-auto p-6;

  h2 {
    @apply text-2xl  font-ubuntu text-center mb-10;
  }

  img {
    @apply w-full;
  }
}

/* news details section 7 style ending */

/* news details section 10 starting */
.news-d-section-10-container {
  @apply flex justify-center md:flex-row flex-col p-4  items-center gap-10 w-full lg:max-w-[1200px] mx-auto py-10;
}
.news-d-section-10-text {
  @apply text-center text-4xl font-ubuntu  text-gray-800;
}
.news-d-section-10-image {
  @apply w-full h-auto object-cover;
}
.news-d-section-10-form {
  @apply flex flex-col h-full p-4 space-y-10  w-80;
}
.news-d-section-10-input {
  @apply w-full h-[60px] border  px-4 py-2 outline-none bg-[#F3F4F6];
}
.news-d-section-10-button {
  @apply bg-[#F3F4F6] px-6 font-ubuntu text-3xl w-[150px] py-4 mt-4 hover:bg-black hover:text-white  text-gray-800;
}

/* news details section 10 ending */

/* news details style ending  */

/* news schedule style starting */

/* news schedule section 1 style starting */
.event-schedule-sec-1-container {
  @apply pt-[10%] px-5 lg:max-w-[1400px] mx-auto;

  h1 {
    @apply text-4xl py-12 not-italic text-center  text-blue-400;
  }

  h2 {
    @apply text-xl  not-italic pt-12 text-start font-bold text-secondTheme;
  }
  h3 {
    @apply text-xl font-helvetica  not-italic pb-12 text-start font-bold;
  }
  p {
    @apply font-bold p-5 lg:min-w-[500px] text-center pt-5;
  }
  li {
    @apply text-xl  not-italic  text-start font-bold;
  }
}
.li-effect {
  @apply text-secondTheme text-xl;
}
.e-s-card-right-content {
  @apply lg:w-[45%];
}

.e-s-card-left-content {
  @apply flex w-full  lg:min-w-[550px] justify-center;
}
.event-schedule-card-img-container {
  @apply w-24 lg:scale-110 mt-5 rounded-[50%] overflow-hidden;
}
.event-schedule-card-img-container-o {
  @apply w-20 lg:scale-110 mt-5 rounded-[50%] overflow-hidden;
}
.event-schedule-card {
  @apply flex lg:flex-row justify-between flex-col;
}

/* news schedule section 1 style ending */

/* news schedule  style ending  */

/* faq page style starting */
.event-faq-container {
  @apply lg:max-w-[1200px]  text-sm font-helvetica pt-[10%] mx-auto p-6 space-y-3;
}
.event-faq-container h2 {
  @apply font-semibold  text-secondTheme;
}
.event-faq-container p {
  @apply text-gray-700;
}
.event-faq-container ul {
  @apply pl-12 text-gray-700;
}
.event-faq-container a {
  @apply underline;
}
/* faq page style ending */
